.chatWindowWrapper {
    .chatWindow {
        height: 500px;
        width: 420px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        border-radius: 5px;
        background-color: $mainChatWindowColor;

        & .chatButton {
            height: 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: $whiteColor;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        
            &:active {
                box-shadow: 1px 1px 10px rgba(0, 0 , 0, 0.2);
                transform: translateY(2%);
            }
            &.sendMessage {
                position: absolute;
                bottom: 22px;
                right: 13px;
                width: 60px;
                background-color: $button1Color;

                &:hover {background-color: $button1HoverColor;}
            }
        }

        &-header {
            color: $whiteColor;
            flex: 10%;
            padding: 10px;
            background-color: $headerBackgroundColor;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &-participantsInfo {
                & .participants {
                    color: #48a1e9;
                    font-size: 14px;
                    cursor: pointer;
                    font-weight: bold;
                    &:hover {
                        color: #5fb7ff;
                    }
                }
            }
        }
        &-body {
            flex: 80%;
            width: 100%;
            align-self: center;
            overflow-y: auto;
            // scrollbar-width: none; /* Firefox */
            // -ms-overflow-style: none;  /* Internet Explorer 10+ */
            
            // &::-webkit-scrollbar { /* WebKit */
            //     width: 0;
            //     height: 0;
            // }

            &-message {
                height: auto;

                &.myMessage {
                    margin-right: auto;
                    & .messageContent {background-color: $myMessageColor;}
                }
        
                &.foreignMessage {
                    margin-left: auto;
                    & .messageContent {background-color: $foreignMessageColor;}
                }
                
                & .messageContent {
                    padding: 10px;
                    max-width: 200px;
                    border-radius: 5px;
                    word-wrap: break-word;
                }

                & .messageDate {
                    font-size: 11px;
                    text-align: right;
                }
            }
        }

        &-footer {
            flex: 10%;
            position: relative;

            &-textarea {
                overflow-wrap: break-word;
                width: 72%;
                height: 30px!important;
                border: none;
                resize: none;
                border-radius: 5px;
                min-height: 25px;
                padding: 10px;
                overflow-y: scroll!important;

                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                
                &::-webkit-scrollbar { /* WebKit */
                    width: 0;
                    height: 0;
                }
                
                &:focus {outline: none;}
            }
        }
    }
}

.participantsBanner {
    width: 300px;
    padding: 15px 10px;
    &-list {
        align-self: flex-start;
        width: 100%;
    }

    & .title {margin: 0;}
}

.clearChatBanner {
    padding: 25px 35px;

    & .title {margin-top: 0px;}
    & .description {margin: 0 0 25px 0;}
}