
// button colors
$button1Color: #1C6FB3;
$button1HoverColor: #2b85ce;
$button2Color: #E23D32;
$button2HoverColor: #e94e43;
$button3Color: #1E7CBA;
$button3HoverColor: #2992d8;

// background colors
$mainBackgroundColor: #E2FDC8;
$mainChatWindowColor: #EBEAE5;
$headerBackgroundColor: #212C30;
$myMessageColor: #E2FFC7;
$foreignMessageColor: #FDFDFC;

// text colors
$whiteColor: white;
$mainTextColor: #18689d;

